@charset "ISO-8859-1";
 <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
      background-color: white;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color:white;
      padding: 25px;
    }
  </style>